---
import Button from "./ui/Button.astro";
import Logo from "./ui/Logo.astro";
import chevronDown from "../images/icon/chevron-down.svg";
import lang from "../images/icon/lang.svg";
import facebook from "../images/icon/social-facebook.svg";
import linkedIn from "../images/icon/social-linkedin.svg";
import x from "../images/icon/social-x.svg";

const base = import.meta.env.BASE_URL;

const footerSections = [
  {
    title: "Product",
    items: [
      { text: "Overview", link: "/overview" },
      { text: "Pricing", link: "/pricing" },
      { text: "Customer stories", link: "/customer-stories" },
    ],
  },
  {
    title: "Resources",
    items: [
      { text: "Blog", link: "/blog" },
      { text: "Guides & tutorials", link: "/guides-tutorials" },
      { text: "Help center", link: "/help-center" },
    ],
  },
  {
    title: "Company",
    items: [
      { text: "About us", link: "/about-us" },
      { text: "Careers", link: "/careers" },
      { text: "Media kit", link: "/media-kit" },
    ],
  },
];

const socialIcons = [
  {
    icon: facebook,
    alt: "Facebook",
    width: 15,
    height: 17,
    link: "https://www.facebook.com/",
  },
  {
    icon: x,
    alt: "X",
    width: 17,
    height: 14,
    link: "https://x.com/",
  },
  {
    icon: linkedIn,
    alt: "LinkedIn",
    width: 15,
    height: 15,
    link: "https://www.linkedin.com/",
  },
];

const legalLinks = [
  { text: "Terms & privacy", link: "/terms-privacy" },
  { text: "Security", link: "/security" },
  { text: "Status", link: "/status" },
];
---

<div class="w-full">
  <div
    class="relative mx-auto flex w-full max-w-[1440px] flex-col items-center gap-[100px] px-[16px] pt-[140px] pb-[32px] md:items-start md:px-[32px]"
  >
    <div
      class="flex w-full flex-col items-center gap-[80px] md:grid md:grid-cols-12 md:items-start md:gap-[32px]"
    >
      <div
        class="flex flex-col items-center gap-[15px] text-center md:col-span-3 md:items-start md:text-left"
      >
        <Logo />

        <p
          class="text-custom-off-white max-w-[240px] text-[18px] leading-[30px] tracking-[-0.02em]"
        >
          whitepace was created for the new ways we live and work. We make a
          better workspace around the world
        </p>
      </div>

      <ul
        class="flex w-full flex-col items-center gap-[80px] tracking-[-0.02em] md:col-span-6 md:grid md:grid-cols-6 md:items-start md:gap-[32px]"
      >
        {
          footerSections.map((section) => (
            <li class="flex flex-col items-center text-center md:col-span-2 md:items-start md:text-left">
              <div class="flex flex-col gap-[15px]">
                <h3 class="text-[18px] font-bold">{section.title}</h3>
                <ul class="flex flex-col gap-[15px] text-[16px] leading-[20px]">
                  {section.items.map((item) => (
                    <li>
                      <a
                        href={base + item.link}
                        class="hover:text-secondary transition-colors"
                      >
                        {item.text}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </li>
          ))
        }
      </ul>

      <div
        class="flex flex-col items-center gap-[16px] text-center tracking-[-0.02em] md:col-span-3 md:items-start md:text-left"
      >
        <h3 class="text-[28px] font-bold">Try It Today</h3>
        <p class="text-custom-off-white text-[16px] leading-[20px]">
          Get started for free. Add your whole team as your needs grow.
        </p>
        <Button class="mt-[8px] px-[40px] py-[16px] text-[14px]">
          Start today
        </Button>
      </div>
    </div>

    <div
      class="border-custom-gray flex w-full flex-col items-center gap-[20px] border-t pt-[30px] md:flex-row md:items-start md:justify-between"
    >
      <div
        class="flex flex-col items-center gap-[20px] text-[16px] tracking-[-0.02em] md:flex-row md:items-end md:gap-[40px]"
      >
        <button class="group flex cursor-pointer items-center gap-[8px]">
          <div
            class="group-hover:bg-secondary h-[19px] w-[19px] bg-white mask-contain mask-no-repeat transition-colors"
            style={`mask-image: url(${lang.src})`}
          >
          </div>
          <p class="group-hover:text-secondary transition-colors">English</p>
          <div
            class="group-hover:bg-secondary mt-[2px] h-[7px] w-[13px] bg-white mask-contain mask-no-repeat transition-colors"
            style={`mask-image: url(${chevronDown.src})`}
          >
          </div>
        </button>

        <ul
          class="flex flex-col items-center gap-[20px] md:flex-row md:gap-[30px]"
        >
          {
            legalLinks.map((item) => (
              <li>
                <a
                  href={base + item.link}
                  class="hover:text-secondary transition-colors"
                >
                  {item.text}
                </a>
              </li>
            ))
          }
        </ul>

        <p class="text-[14px]">©2021 Whitepace LLC.</p>
      </div>

      <ul class="flex items-center gap-[24px]">
        {
          socialIcons.map((icon) => (
            <li>
              <a
                href={icon.link}
                target="_blank"
                class="bg-custom-off-white hover:bg-secondary block mask-contain mask-no-repeat transition-colors"
                style={`mask-image: url(${icon.icon.src}); width: ${icon.width}px; height: ${icon.height}px;`}
                aria-label={icon.alt}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
