---
import Button from "./ui/Button.astro";
import appleIcon from "../images/icon/app-apple.svg";
import windowsIcon from "../images/icon/app-windows.svg";
import androidIcon from "../images/icon/app-android.svg";

const appIcons = [
  {
    name: "apple",
    icon: appleIcon,
    alt: "Download for Apple",
    link: "https://www.apple.com/app-store/",
    width: 60,
    height: 60,
  },
  {
    name: "windows",
    icon: windowsIcon,
    alt: "Download for Windows",
    link: "https://www.microsoft.com/store/apps",
    width: 60,
    height: 60,
  },
  {
    name: "android",
    icon: androidIcon,
    alt: "Download for Android",
    link: "https://play.google.com/store",
    width: 60,
    height: 60,
  },
];
---

<div class="w-full">
  <div
    class="mx-auto flex max-w-[1440px] flex-col items-center gap-[40px] px-[32px] pt-[140px] pb-[32px]"
  >
    <div
      class="flex flex-col items-center gap-[24px] text-center tracking-[-0.02em]"
    >
      <h2 class="w-[608px] text-[72px] font-bold">Try Whitepace today</h2>
      <div class="w-[550px] text-[24px] leading-[32px]">
        <p class="mb-0">Get started for free.</p>
        <p>Add your whole team as your needs grow.</p>
      </div>
    </div>
    <Button class="px-[40px] py-[20px] text-[18px]">
      Try Whitepace free
    </Button>
    <p class="text-[21px] tracking-[-0.02em]">On a big team? Contact sales</p>
    <ul class="flex items-start gap-[40px]">
      {
        appIcons.map((icon) => (
          <li>
            <a
              href={icon.link}
              target="_blank"
              rel="noopener noreferrer"
              class="bg-custom-off-white hover:bg-secondary block mask-contain mask-no-repeat transition-colors"
              style={`mask-image: url(${icon.icon.src}); width: ${icon.width}px; height: ${icon.height}px;`}
              aria-label={icon.alt}
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>
