---
import quoteIcon from "../images/icon/quote.svg";
import client1 from "../images/client-1.png";
import client2 from "../images/client-2.png";
import client3 from "../images/client-3.png";

const testimonials = [
  {
    comment:
      "Whitepace is designed as a collaboration tool for businesses that is a full project management solution.",
    clientImage: client1.src,
    clientAlt: "Client 1",
    name: "Oberon Shaw, MCH",
    role: "Head of Talent Acquisition, North America",
  },
  {
    comment:
      "Whitepace is designed as a collaboration tool for businesses that is a full project management solution.",
    clientImage: client2.src,
    clientAlt: "Client 2",
    name: "Oberon Shaw, MCH",
    role: "Head of Talent Acquisition, North America",
  },
  {
    comment:
      "Whitepace is designed as a collaboration tool for businesses that is a full project management solution.",
    clientImage: client3.src,
    clientAlt: "Client 3",
    name: "Oberon Shaw, MCH",
    role: "Head of Talent Acquisition, North America",
  },
];
---

<div class="text-custom-black w-full bg-white">
  <div
    class="mx-auto flex max-w-[1440px] flex-col items-center gap-[60px] px-[16px] py-[100px] md:px-[32px] md:py-[140px]"
  >
    <h2
      class="text-center text-[40px] font-bold tracking-[-0.02em] md:text-[70px]"
    >
      What Our Clients Say
    </h2>
    <ul class="flex flex-col gap-[32px] md:flex-row">
      {
        testimonials.map((testimonial) => (
          <li class="flex flex-col gap-[60px] rounded-[10px] bg-white px-[24px] py-[60px] shadow-[15px_10px_50px_0px_rgba(0,0,0,0.1)]">
            <div class="border-custom-black flex flex-col gap-[32px] border-[0px_0px_1px] border-solid px-0 pt-0 pb-[40px]">
              <div
                class="bg-primary h-[62px] w-[86px]"
                style={`mask-image: url(${quoteIcon.src});`}
              />
              <p class="text-[18px] leading-[30px] tracking-[-0.02em]">
                {testimonial.comment}
              </p>
            </div>
            <div class="flex flex-col gap-[24px] md:flex-row md:gap-[8%]">
              <div class="w-[95px] shrink-0">
                <img
                  class="w-full rounded-[9999px]"
                  src={testimonial.clientImage}
                  alt={testimonial.clientAlt}
                />
              </div>
              <div class="flex flex-col gap-[15px]">
                <p class="text-[24px] leading-[36px] font-semibold tracking-[-0.02em]">
                  {testimonial.name}
                </p>
                <p class="text-[16px] leading-[20px] tracking-[-0.02em]">
                  {testimonial.role}
                </p>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
    <div class="hidden h-[12px] w-[60px]">
      <img
        alt="Slider"
        class="block size-full max-w-none"
        src="https://placehold.co/60x12/808080/ffffff"
      />
    </div>
  </div>
</div>
